#main-footer {

	.footer-logo {
		max-width: 150px !important;
		width: 100%;
		height: auto;
	}

	.footer-widget {
		margin-bottom: $d_spacer_smm;
	}

	.footer-widget:nth-of-type(3) {

		@include respond-to($mq-medium) {
			display: flex;
			justify-content: flex-end;
		}

	}

	#footer-widgets {
		padding: $d_spacer_smm 0;

		@include respond-to($mq-medium) {
			padding: $d_spacer_smm 0;
		}
	}

	.widget_nav_menu {
	}

	.menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			padding-left: 0;
			margin-right: 10px;

			&:before {
				content: none;
			}

			a {
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}




	#footer-bottom{
		display: none;
	}

}