

.mobile_menu_bar_toggle {

	&:before {
		font-weight: bold;
	}
}

.logo-header {
	max-width: 430px;
}

/* header height override in smaller breakpoints */
@media (max-width: 980px) {
	.et_header_style_left #et-top-navigation, .et_header_style_left .et-fixed-header #et-top-navigation {
		display: block;
		padding-top: 14px;
	}
}

.et_header_style_split .mobile_menu_bar, .et_header_style_left .mobile_menu_bar {
	padding-bottom: 14px;
}

#top-menu-nav>ul>li>a:hover,
#top-menu-nav>ul>li>a:focus {
	opacity: 1;
	text-decoration: underline;
}
