
/* Case: by default the section BGs are white */
.et_section_regular {
	background-color: white;

	/*
	&:not(.et_section_regular--with-curve):before {
		content: '';
		display: block;
		width: 100vw;
		height: 80px;
		position: absolute;
		top: -80px;
	}
	*/
}
