.page-template-page-landing-alternating {

	#main-header {
		box-shadow: none;
		background-color: transparent;
	}

}

.page-template-default,
.post-template-default {

	.entry-content {


		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0.5em;
			padding-bottom: 0.2em;
		}

	}

}
