.page-template-page-landing-alternating {

	#main-header {
		box-shadow: none;
		background-color: transparent;
	}

}

.page-template-default,
.post-template-default {

	.entry-content {


	}

}

.page-template-page-profile-app #root {
	min-height: calc(100vh - 59px);
}
